table,
th,
td {
  border: 1px solid black;
}

ul {
  list-style: none;
}

button {
  border-radius: 10px;
  border: none;
  outline: 0;
  padding: 10px;
  background-color: rgb(94, 196, 145);
}

button:hover {
  color: rgb(94, 196, 145);
  background-color: #fff;
  border: 2px solid rgb(94, 196, 145);
  padding: 8px;
}

button:disabled {
  background-color: #ddd;
}

button:disabled:hover {
  background-color: #ddd;
  border: 2px solid #ddd;
  color: #fff;
}
