
.dropdown{
   
    // margin-left: 320px;
    a{
        i{
            height: 5px;
            width: 12px;
            text-align: center;
        }
    }
    .dropdown-item{
        // margin-right: 350px;
        // width: 30%;
    }
}
